.App {
  text-align: center;
  color: white;
  
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.displayTimer{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}
.form{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.btn{
  cursor: pointer;
  
 padding: 1.5vh;
  font-size: medium;
  width: auto;
  font-size: 2vw;
 color: white;
border: 2px solid white ;
border-radius: 10px;
background-image: linear-gradient(to top left, rgb(179, 216, 220),rgb(32, 142, 155) );
}

.displayCard{
  box-shadow: 2px;
 margin: 1%;
 padding: 0.5vh;
  font-size: 3vw;
 font-weight: bold;
width: 15%;
  border: 2px solid white;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, rgb(179, 216, 220),rgb(32, 142, 155)  );
}